<html>
    <head>
        <title>This is title</title>
    </head>
    <body>
        <p>This is body</p>
        <form action="/data" method="post">
        <input type="text" name="name" placeholder="enter name">
        <button type="submit">Submit</button>
        </form>
    </body>
</html>